@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow-x: hidden;

}

p {
    text-align: justify;
}

:root {
    --primary-color: #22c55e;
    --footer-color: #22c55e;
    --span-color: #fde047;
    --section-color: #4ade80;



}

hr {
    margin: 2rem 0rem;
}

.fluid-container {
    padding: 0.5rem 0.5rem;
}

.center-container {
    max-width: 700px;
    padding: 0.5rem 0.5rem;
    margin: auto;
    display: block;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-weight: bolder;

}

.link-primary {
    background-color: #FBBF24;
    color: var(--span-color);
    border-radius: 0.5rem;

}

.link-secondary {
    color: var(--span-color);
    border: solid var(--primary-color);
    border-radius: 0.5rem;
}


.inline-list {
    display: inline;
    padding: 1rem 1rem;
}

.navigation {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--span-color);
    font-size: large;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 2rem;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

.nav-link {
    background-color: var(--primary-color);
    color: var(--span-color);
    border: 1px solid var(--span-color);
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 0.5rem;

}

.link-active {
    font-weight: bolder;
    font-size: large;

}

.header {
    padding: 1rem 1rem;
    font-size: large;
    font-weight: bolder;
    text-align: center;

}

.header-img {
    max-width: 350px;
    display: block;
    padding: 2rem;
    margin: auto;
}

.header-content {

    color: var(--primary-color);

}

.header-content-highlight {

    color: var(--span-color);



}

.section {
    padding: 2rem;
    font-size: large;
    text-align: center;

}




.section-grey {
    background-color: var(--section-color);
}

.section-header {

    font-size: x-large;
    font-weight: bolder;

}

.footer {
    background-color: var(--footer-color);
    color: var(--span-color);
    padding: 2rem 1rem;
    text-align: center;
}

.footer-header {

    font-size: x-large;
    font-weight: bolder;
}

.footer-link {
    color: var(--span-color);
    font-weight: bolder;
    text-decoration: none;
    font-size: large;


}