@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #22c55e;
  --off-yellow: #fde047;
  --light-gray: #bbf7d0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

hr {
  margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 2rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: var(--off-yellow);
  margin: 1rem auto;
  border-radius: 2rem;
}

.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
  background-color: var(--primary-color);
  color: var(--off-yellow);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: var(--off-yellow);
}

.navigation .link-active {
  font-weight: bold;
}

/** header **/

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 550px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--primary-color);
}

.hero .hero-heading .heading-inverted {
  color: var(--off-yellow);
}

/** sections **/

.section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

.grey {
  background-color: var(--light-gray);
}

/** footers **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: var(--off-yellow);
  border-top-right-radius: 1rem;
}

.footer .link {
  color: var(--off-yellow);
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
  /* padding: 2rem; */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}
